{{! display 30 per page? }}
<div class="tabs is-toggle is-toggle-rounded pt-6 is-centered">
  <ul>
    {{#each categories as |category|}}
  <li class=""><a href='/category/{{category.id}}'>{{category.category_name}}</a></li>
    {{/each}}
  </ul>
</div>
{{!-- {{#each categories as |category|}}
  <a href='/category/{{category.id}}'>{{category.category_name}}</a>
{{/each}} --}}

<!-- Loop over each object in the projects array -->
<div class="columns is-inline is-centered is-multiline">
{{#each products as |product|}}
  <div class='mb-4 mr-4 ml-4 catalog card column is-one-quarter is-inline-flex'>
    <div class='card-image'>
      <figure class="image is-3by3">
        <img src='{{product.img}}' alt='Image' />
      </figure>

      <div class="card-content">
          <div class="content">
            <p class="title is-4"><a href='/product/{{product.id}}'>{{product.product_name}}</a></p>
            <p class="subtitle is-6">Created by {{product.id}} on {{product.id}}</p>
            <p class="subtitle is-6"> ${{product.price}} </p>
          </div>
      </div>
    </div>
  </div>
{{/each}}
</div>


 {{!-- <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <a href='/product/{{product.id}}'>{{product.product_name}}</a>
      </h2>
      <p>Created by {{product.id}} on {{product.id}}</p>
    </div>
    <div class='col-md-7'>
      <p> {{product.price}} </p> --}}

{{! The data you have to work with are each of the data points in the Product model and the Category model

so that is 

product.id
product.product_name
product.img
product.description
product.price
product.stock
product.category_id -- this is just the integer of category id


category.id
category.category_name }}