{{! Landing Page. Also this handlebar is the template for when the user selects HOME}}
{{! Welcome & automatically display recommended items  

 }}
{{!-- {{#each categories as |category|}}
  <a href='/category/{{category.id}}'>{{category.category_name}}</a>
{{/each}} --}}
{{! recommended items (display 5-10 items) }}
{{! See more (selecting see more will navigate the user to the full catalog of available items =) }}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome
    </p>
    <p class="subtitle">
      Look at this stuff... isn't it neat ;)
    </p>
  </div>
</section>


<div class="columns is-inline ">
{{#each products as |product|}}
  <div class='mb-4 mr-4 ml-4 catalog card column is-2 is-inline-flex'>
    <div class='card-image'>
      <figure class="image is-3by3">
        <img src='{{product.img}}' alt='Image' />
      </figure>

      <div class="card-content">
          <div class="content">
            <p class="title is-4"><a href='/product/{{product.id}}'>{{product.product_name}}</a></p>
            <p class="subtitle is-6"> ${{product.price}} </p>
          </div>
      </div>
    </div>
  </div>
{{/each}}
</div>

{{!-- {{#each products as |product|}}
  <div class='row mb-4 catalog'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->

        <a href='/product/{{product.id}}'>{{product.product_name}}</a>
      </h2>
      <p>
        <img src='{{product.img}}' alt='Image' />

      </p>
      <p>Created by
        {{product.id}}
        on
        {{product.id}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{product.price}}
      </p>
    </div>
  </div>
{{/each}} --}}