{{! Landing Page. Also this handlebar is the template for when the user selects HOME}}
<h1 class='text-white'> Welcome {{users.first_name}}</h1>
{{! Welcome & automatically display recommended items  

 }}
{{#each categories as |category|}}
  <a href='/category/{{category.id}}'>{{category.category_name}}</a>
{{/each}}
{{! recommended items (display 5-10 items) }}
<h2>Look at this stuff... isn't it neat ;) </h2>
{{! See more (selecting see more will navigate the user to the full catalog of available items =) }}
<h2> Your collection's not complete. Here are more Thingamabobs for you</h2>

{{#each products as |product|}}
  <div class='row mb-4 catalog'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->

        <a href='/product/{{product.id}}'>{{product.product_name}}</a>
      </h2>
      <p>
        <img src='{{product.img}}' alt='Image' />

      </p>
      <p>Created by
        {{product.id}}
        on
        {{product.id}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{product.price}}
      </p>
    </div>
  </div>
{{/each}}