<div class='row mb-4 catalog'>
  <div class='col-md-5'>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->

      {{!-- <a href='/product/{{id}}'>{{product_name}}</a>
    </h2>
    <p>
      <img src='{{img}}' alt='Image' />

    </p>
    <p>tags {{id}} on
      {{#each tags as |tag|}}
        {{tag.tag_name}}
      {{/each}}
    </p>
  </div>
  <div class='col-md-7'>
    <p>
      {{price}}
    </p>
  </div>
</div> --}}
<p class="title is-3">
            </p>
  <div class='mb-4 mr-4 ml-4 catalog card column is-3 is-inline-flex'>
    
    <div class='card-image'>
      <figure class="image is-3by3">
        <img src='{{img}}' alt='Image' />
      </figure>
      <h1 class="title is-3">{{product_name}}</h1>

      <div class="card-content">
          <div class="content">
            <p class="title is-4">
            </p>            
            <p>${{price}}</p>
            <p>{{description}}</p>
           
            <button type="submit" class="button is-primary is-fullwidth is-rounded">add to cart</button>
          </div>
      </div>
    </div>
  </div>

{{! The data you have to work with are each of the data points in the Product model and the Tags

when using product data just use the data point so

product_name
img
description
price
stock
category_id (integer)

tags.tag_name --> if you use the #each as i have done then you will be able to display all the tags for the product



}}